<h1> All subcategories</h1>

<table>
  <tr>
    <th>Типы моторных масел:</th>
  </tr>
 
  <% @category.subcategories.each do |subcategory| %>
    <tr>
      <td><%= subcategory.name %></td>
      <td><%= link_to 'Show', subcategory_path(subcategory)%><td>
      <td><%= link_to 'Edit', edit_subcategory_path(subcategory) %></td>     
      <td><%= link_to 'Destroy', [subcategory],
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
      
    </tr>
  <% end %>
</table>




<%= link_to 'New Type!!', new_category_subcategory_path(@category.brand) %>|<%= link_to 'Back to Categories', brand_categories_path(@category.brand) %>
