<h1> All categories</h1>

<table>
  <tr>
    <th>Brand name:</th>
  </tr>
 
  <% @brand.categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <td><%= link_to 'Show', brand_category_path(@brand, category)%><td>
      <td><%= link_to 'Edit', edit_brand_category_path(@brand, category) %></td>     
      <td><%= link_to 'Destroy', [@brand, category],
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
      
    </tr>
  <% end %>
</table>




<%= link_to 'New category', new_brand_category_path %>|<%= link_to 'Back to brands', brands_path %>
